# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.egg-info/
build/
dist/

# Environment
.env

# Logs
*.log

# Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE / Editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Tests / Coverage
.pytest_cache/
.coverage
coverage/
